# JetBrains IDE files
.idea/

# Python virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/

# Local database
deployments.db

# Private keys
*.pem

# Secrets related to the deployer scripts
secrets/